<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OnlineShop - User Area</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/custom.css">
    <script src="/bower_components/angular/angular.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="homeController">

    <div id="container">
        <div class="topsection">
            <div class="topleft">
                <span class="topbg">
                    <div class="sitelogo">
                        <p class="logo">OnlineShop</p>
                        <div class="search">
                            <input ng-init="query='<%= q %>'" ng-value="query" class="searchinput" type="text" placeholder="Search for products, brands and more" ng-model="searchQuery">
                            <button class="searchicon cursor" ng-click="searchProduct(searchQuery)">Search</button>
                        </div>
                    </div>
                </span>
            </div>
            <div class="topright">
                <% if(session == "true"){ %>
                <ul class="ulmenu">
                    <li class="toprightmenus myAccount">My Account
                        <div class="myAccountMenus">
                            <ul>
                                <li class="myAccountList">
                                    <a class="myAccountListLink" ng-href="/account/profile">Profile</a>
                                </li>
                                <li class="myAccountList">
                                    <a class="myAccountListLink" ng-href="/account/myorders">Orders</a>
                                </li>
                                <li class="myAccountList">
                                    <a class="myAccountListLink" ng-href="/account/signout">Sign Out</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="toprightmenus cart"><a ng-href="/viewCart">My Cart</a></li>
                </ul>
                <% } else{ %>
                <ul class="ulmenu">
                    <li class="toprightmenus"> <a ng-href="/account/login">Login & Signup</a> </li>
                    <li class="toprightmenus cart"><a ng-href="/viewCart">My Cart</a></li>
                </ul>
                <% } %>
            </div>
        </div>
        <div id="nav">
            <ul class="navul">
                <li class="navmenu navmenulink" ng-repeat="menu in menusData.data" ng-mouseover="showSubMenus(menu)">{{menu.menu}}
                </li>
            </ul>
            <div class="navsection">
                <div class="submenusection">
                    <div class="submenus">
                        <ul class="submenuul" ng-mouseleave="hideSubMenus()">
                            <li ng-repeat="submenu in submenus" ng-click="searchSubMenu(submenu)" ng-mouseover="showSubSubMenus(submenu)">
                                <a class="submenu" ng-href="/show/{{MainMenu}}/{{submenu.name}}">{{submenu.name}}</a>
                            </li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="showProducts" class="showPro" ng-controller="searchProductsController">
            <% if(products.length){ %>
            <div id="filterMenu">
                <div class="SearchImage">
                    <div class="searchImageWrapper">
                        <img class="searchImage" src="<%= products[0].images[0].url %>" alt="<%= products[0].images[0].name %>">
                    </div>
                    <p class="searchSubmenu">
                        <%= products[0].submenu %>
                    </p>
                </div>
                <div class="searchCategory">
                    <p class="filterTitle">Filters</p>
                    <p class="queryMenuTitle">CATEGORIES</p>
                    <p class="queryMenu">
                        < <%=products[0].menu %>
                    </p>
                    <p class="query">
                        Results for
                        <%= q.toUpperCase() %>
                    </p>
                </div>
                <div class="selectPrice">
                    <p class="selectPriceTitle">Price</p>
                    <input class="minPrice" type="number" placeholder="Min Price" ng-init="minPrice='<%= minPrice %>'" ng-value="minPrice" ng-model="min_price">
                    <span class="priceBetween">to</span>
                    <input class="maxPrice" type="number" placeholder="Max Price" ng-init="maxPrice='<%= maxPrice %>'" ng-value="maxPrice" ng-model="max_price">
                    <button class="goWithPrice" ng-click="filterPrice(min_price,max_price)">Go</button>
                    <p class="priceInfo">{{priceInfo}}</p>
                </div>
                <div class="TrustProduct">
                    <p class="selectPriceTitle">
                        Trust
                    </p>
                    <div class="trustImageWrapper">
                            <span class="trustButton" ng-click="trustON()">
                                    <% if(TrustedProduct){ %>
                                        Off
                                    <% } else{ %>
                                        On
                                    <% } %>
                            </span>
                        <img class="trustImage" src="/assets/images/trust.png" alt="TrustedProducts">
                    </div>
                </div>
            </div>
            <% } %>
            <div class="allProductsByMenu">
                <% if(products.length){ %>
                <div class="SearchMeta">
                            <span class="searchMeta homeTitle">
                                Home >
                            </span>
                            <span class="searchMeta menuTitle">
                                <%= products[0].menu %> >
                            </span>
                            <span class="searchMeta submenuTitle">
                                <%= products[0].submenu %>
                            </span>
                </div>
                <div id="sortBy">
                    <div class="list">
                        <ul>
                            <li class="sortList sortBy">Sort By</li>
                            <li class="sortList <% if(activeSort == 'Popularity'){ %> sortListFirst <% } %>" ng-click="sortByPopularity()">Popularity</li>
                            <li class="sortList <% if(activeSort == 'LowPrice'){ %> sortListFirst <% } %>" ng-click="sortByLowPrice()">Price-- Low to High</li>
                            <li class="sortList <% if(activeSort == 'HighPrice'){ %> sortListFirst <% } %>" ng-click="sortByHighPrice()">Price-- High to Low</li>
                            <li class="sortList <% if(activeSort == 'New'){ %> sortListFirst <% } %>" ng-click="sortByNew()">Newest First</li>
                            <li class="sortList <% if(activeSort == 'Discount'){ %> sortListFirst <% } %>" ng-click="sortByDiscount()">Discount</li>
                        </ul>
                    </div>
                </div>
                <p class="resultInfo">Showing
                    <%= products.length %> results for "
                    <%= q %> "
                </p>
                <% if(TrustedProduct == true){ %>
                    <% products.forEach(product=>{ %>
                        <% if(product.trusted == true){ %>
                            <a class="productLink" ng-href="/viewProduct/<%= product.menu %>/<%= product.submenu %>/<%= product.title %>/<%= product._id %>"
                                target="_blank">
                                <div class="products">
                                    <div class="product imageWrapper">
                                        <div class="image">
                                            <img class="product_image" src="<%= product.images[0].url %>" alt="<%= product.images[0].name %>">
                                        </div>
                                    </div>
                                    <div class="product detailsWrapper">
                                        <span class="title">
                                            <%=  product.title %>
                                        </span>
                                        <div class="RateingReviews">
                                            <div class="rating">
                                                <span class="productRating">
                                                    <% let rating = 0; %>
                                                    <% product.rating.forEach(rate=>{ %>
                                                    <% rating += rate.rate; %>
                                                    <% }) %>
                                                    <% let finalRating = rating / product.rating.length %>
                                                    <%= finalRating.toFixed(1) %>
                                                    ★
                                                </span>
                                                <span class="totalReviews">
                                                    (
                                                    <%= product.rating.length %>
                                                    )
                                                </span>
                                            </div>
                                            <div class="total">
                                                <% if(product.trusted){ %>
                                                <span class="productTrust">
                                                    <span class="trust"></span>
                                                </span>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product productPrice">
                                        <span class="currentPrice">
                                            &#8377
                                            <%= product.price %>
                                        </span>
                                        <strike class="totalPrice">
                                            &#8377
                                            <%= product.price + product.discount %>
                                        </strike>
                                        <span class="discountPrice">
                                            &#8377
                                            <%= product.discount %>
                                            off
                                        </span>
                                    </div>
                                </div>
                            </a>
                        <% } %>
                    <% }) %>
                    <div id="Pagination">
                        <% if(currentPage == 1 || currentPage < totalPages){ %>
                            <span class="pagination next" ng-click="NextPage(<%= currentPage %>)">Next</span>
                        <% } %>
                            <span class="pagination previous" ng-click="PreviousPage(<%= currentPage %>)">Previous</span>
                    </div>
                <% } else{ %>
                    <% products.forEach(product=>{ %>
                        <a class="productLink" ng-href="/viewProduct/<%= product.menu %>/<%= product.submenu %>/<%= product.title %>/<%= product._id %>"
                                                    target="_blank">
                                                    <div class="products">
                                                        <div class="product imageWrapper">
                                                            <div class="image">
                                                                <img class="product_image" src="<%= product.images[0].url %>" alt="<%= product.images[0].name %>">
                                                            </div>
                                                        </div>
                                                        <div class="product detailsWrapper">
                                                            <span class="title">
                                                                <%=  product.title %>
                                                            </span>
                                                            <div class="RateingReviews">
                                                                <div class="rating">
                                                                    <span class="productRating">
                                                                        <% let rating = 0; %>
                                                                        <% product.rating.forEach(rate=>{ %>
                                                                        <% rating += rate.rate; %>
                                                                        <% }) %>
                                                                        <% let finalRating = rating / product.rating.length %>
                                                                        <%= finalRating.toFixed(1) %>
                                                                        ★
                                                                    </span>
                                                                    <span class="totalReviews">
                                                                        (
                                                                        <%= product.rating.length %>
                                                                        )
                                                                    </span>
                                                                </div>
                                                                <div class="total">
                                                                    <% if(product.trusted){ %>
                                                                    <span class="productTrust">
                                                                        <span class="trust"></span>
                                                                    </span>
                                                                    <% } %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="product productPrice">
                                                            <span class="currentPrice">
                                                                &#8377
                                                                <%= product.price %>
                                                            </span>
                                                            <strike class="totalPrice">
                                                                &#8377
                                                                <%= product.price + product.discount %>
                                                            </strike>
                                                            <span class="discountPrice">
                                                                &#8377
                                                                <%= product.discount %>
                                                                off
                                                            </span>
                                                        </div>
                                                    </div>
                        </a>
                    <% }) %>
                    <div id="Pagination">
                        <% if(currentPage == 1 || currentPage < totalPages){ %>
                            <span class="pagination next" ng-click="NextPage(<%= currentPage %>)">Next</span>
                        <% } %>
                            <span class="pagination previous" ng-click="PreviousPage(<%= currentPage %>)">Previous</span>
                    </div>
                <% } %>
                <% } else{ %>
                    <div id="noProduct">
                        <div class="noResultWrapper">
                            <img class="noResultErrorImage" src="/assets/images/no_result.png" alt="No Result Found">
                            <p class="noResultMsg">Sorry, no result found!</p>
                            <p class="noResultMsgInfo">Please check the spelling or try searching for something else.</p>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>


    <script src="/js/app.js"></script>
    <script src="/js/html5ModeRoute.js"></script>
    <script src="/js/controllers/homeController.js"></script>
    <script src="/js/models/homeFactory.js"></script>
    <script src="/js/controllers/productController.js"></script>
    <script src="/js/models/productFactory.js"></script>
    <script src="/js/controllers/viewProductController.js"></script>
    <script src="/js/models/viewProductFactory.js"></script>
    <script src="/js/controllers/viewProductController.js"></script>
    <script src="/js/models/viewProductFactory.js"></script>
    <script src="/js/controllers/viewProductsByMenuController.js"></script>
    <script src="/js/models/viewProductsByMenuFactory.js"></script>
    <script src="/js/controllers/searchProductsController.js"></script>
    <script src="/js/models/searchProductsFactory.js"></script>


</body>

</html>