<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OnlineShop - User Area</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../../../../css/custom.css">
    <script src="../../../../bower_components/angular/angular.js"></script>
</head>

<body ng-app="myApp" ng-controller="homeController">

    <div id="container">
        <div class="topsection">
            <div class="topleft">
                <span class="topbg">
                    <div class="sitelogo">
                        <p class="logo">OnlineShop</p>
                        <div class="search">
                            <input class="searchinput" type="text" placeholder="Search for products, brands and more"
                                ng-model="searchQuery">
                            <button class="searchicon cursor" ng-click="searchProduct(searchQuery)">Search</button>
                        </div>
                    </div>
                </span>
            </div>
            <div class="topright">
                <% if(session == "true"){ %>
                <ul class="ulmenu">
                    <li class="toprightmenus myAccount">My Account
                        <div class="myAccountMenus">
                            <ul>
                                <li class="myAccountList">
                                    <a class="myAccountListLink" ng-href="/account/profile">Profile</a>
                                </li>
                                <li class="myAccountList">
                                    <a class="myAccountListLink" ng-href="/account/myorders">Orders</a>
                                </li>
                                <li class="myAccountList">
                                    <a class="myAccountListLink" ng-href="/account/signout">Sign Out</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="toprightmenus cart"><a ng-href="/viewCart">My Cart</a></li>
                </ul>
                <% } else{ %>
                <ul class="ulmenu">
                    <li class="toprightmenus"> <a ng-href="/account/login">Login & Signup</a> </li>
                    <li class="toprightmenus cart"><a ng-href="/viewCart">My Cart</a></li>
                </ul>
                <% } %>
            </div>
        </div>
        <div id="nav">
            <ul class="navul">
                <li class="navmenu navmenulink" ng-repeat="menu in menusData.data" ng-mouseover="showSubMenus(menu)">{{menu.menu}}
                    <!-- <a class="navmenulink" ng-href="/mainmenu/{{menu.menu}}">{{menu.menu}}</a> -->
                </li>
            </ul>
            <div class="navsection">
                <div class="submenusection">
                    <div class="submenus">
                        <ul class="submenuul" ng-mouseleave="hideSubMenus()">
                            <li ng-repeat="submenu in submenus" ng-click="searchSubMenu(submenu)" ng-mouseover="showSubSubMenus(submenu)">
                                <a class="submenu" ng-href="/show/{{MainMenu}}/{{submenu.name}}">{{submenu.name}}</a>
                            </li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="viewProduct" ng-controller="viewProductController">
            <div class="left">
                <div class="productImages">
                    <div class="SideImages">
                        <% product.images.forEach(image=>{ %>
                        <img class="sideImage" ng-src="<%= image.url %>" alt="<%= image.name %>" ng-click="changeActiveImage('<%= image.url %> ', '<%= image.name %>')"
                            ng-mouseover="changeActiveImage(' <%= image.url %> ')">
                        <% }) %>
                    </div>
                    <div class="activeImage" ng-init="ActiveImageUrl = '<%= product.images[0].url %>'">
                        <img class="activeUrl" ng-src="{{ActiveImageUrl}}" ng-init="ActiveImageName = '<%= product.images[0].name %>'"
                            alt="{{ActiveImageName}}">
                        <br>
                        <div class="userAction">
                            <span class="addToCart" ng-show="addtocart" ng-click="AddToCart('<%= product._id %>', '<%= product.menu %>','<%= product.submenu %>','<%= product.title %>','<%= product.price %>','<%= product.discount %>','<%= product.images[0].url %>')">ADD
                                TO CART</span>
                            <a ng-href="/viewCart">
                                <span class="addToCart" ng-show="addedtocart">GO
                                    TO CART</span>
                            </a>
                            <span class="buyNow" ng-click="BuyNow('<%= product._id %>', '<%= product.menu %>','<%= product.submenu %>','<%= product.title %>','<%= product.price %>','<%= product.discount %>','<%= product.images[0].url %>')">BUY
                                NOW</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="productDetails">
                    <div class="productMeta">
                        <a ng-href="{{host}}/<%= product.menu %>">
                            <span class="productMenu">
                                <%= product.menu %>
                            </span>
                        </a>
                        <span class="metaSeperator">></span>
                        <span class="productSubMenu">
                            <%= product.submenu %>
                        </span>
                        <span class="metaSeperator">></span>
                        <span class="productMetaTitle">
                            <%= product.title %>
                        </span>
                    </div>
                    <div class="productTitle">
                        <%= product.title %>
                    </div>
                    <div class="RateingReviews">
                        <div class="rating">
                            <span class="productRating">
                                <% let rating = 0; %>
                                <% product.rating.forEach(rate=>{ %>
                                <% rating += rate.rate; %>
                                <% }) %>
                                <% let finalRating = rating / product.rating.length %>
                                <%= finalRating.toFixed(1) %>
                                ★
                            </span>
                        </div>
                        <div class="total">
                            <a ng-href="#Ratings">
                                <span class="totalRatingReview">
                                    <%= product.rating.length %> Ratings &
                                    <%= product.reviews.length %> Reviews
                                </span>
                            </a>
                            <% if(product.trusted){ %>
                            <span class="productTrust">
                                <span class="trust"></span>
                            </span>
                            <% } %>
                        </div>
                    </div>
                    <div class="productPrice">
                        <span class="currentPrice">
                            &#8377
                            <%= product.price %>
                        </span>
                        <strike class="totalPrice">
                            &#8377
                            <%= product.price + product.discount %>
                        </strike>
                        <span class="discountPrice">
                            &#8377
                            <%= product.discount %>
                            off
                        </span>
                    </div>
                    <div class="productDelivery">
                        <span class="deliveryText">Delivery:</span>
                        <input type="text" class="input inputPincode" maxlength="6" ng-model="pinCode">
                        <button class="button checkPincode" ng-click="checkAvailability('<%= product._id %>', '<%= product.menu %>')">Check</button>
                        <span class="pincodeInfo {{color}}">{{pinCodeMsg}}</span>
                        <span class="pincodeInfo">{{pinCodeError}}</span>
                    </div>
                    <div class="productDescription">
                        <span class="descriptionText">Description:</span>
                        <p class="descriptionNote">
                            <%= product.description %>
                        </p>
                    </div>
                    <div class="productSpecification">
                        <span class="specificationText">Specification:</span>
                        <p class="specificationNote">
                            <%= product.specification %>
                        </p>
                    </div>
                </div>
                <div id="Ratings">
                    <div class="metaRatingReviews">
                        <span class="RatingReviewsText">Ratings and Reviews</span>
                        <span class="rateThisProduct">Rate this product</span>
                    </div>
                    <div class="productRatings">
                        <div class="leftSideRatings">
                            <div class="averageRating">
                                <% let Rating = 0; %>
                                <% product.rating.forEach(rate=>{ %>
                                <% Rating += rate.rate; %>
                                <% }) %>
                                <% let FinalRating = rating / product.rating.length %>
                                <%= FinalRating.toFixed(1) %>
                                <span class="star">★</span>
                            </div>
                            <div class="totalRatingsReviews">
                                <%= product.rating.length %> Ratings &
                                <%= product.reviews.length %> Reviews
                            </div>
                        </div>
                        <div class="rightSideRatings">
                            <div class="RatingReviewGraph">
                                <div class="5Star">
                                    <% const arrayRating = []; %>
                                    <% const Ratings = product.rating; %>
                                    <% Ratings.forEach(rate=>{ %>
                                    <% arrayRating.push(rate.rate); %>
                                    <% }) %>
                                    <% let fiveStar = 0; %>
                                    <% let totalStars = 0; %>
                                    <% arrayRating.forEach(rate=>{ %>
                                    <% totalStars += rate; %>
                                    <% if(rate == 5){ %>
                                    <% fiveStar++; %>
                                    <% } %>
                                    <% }) %>
                                    <span class="stars">5 ★</span>
                                    <span class="StarRow fiveStarRow"></span>
                                    <span class="total totalfiveStar">
                                        <%= fiveStar %> Users
                                    </span>
                                </div>
                                <div class="4Star">
                                    <% const arrayRating2 = []; %>
                                    <% const Ratings2 = product.rating; %>
                                    <% Ratings2.forEach(rate=>{ %>
                                    <% arrayRating2.push(rate.rate); %>
                                    <% }) %>
                                    <% let fourStar = 0; %>
                                    <% arrayRating2.forEach(rate=>{ %>
                                    <% if(rate == 4){ %>
                                    <% fourStar++; %>
                                    <% } %>
                                    <% }) %>
                                    <span class="stars">4 ★</span>
                                    <span class="StarRow fourStarRow"></span>
                                    <span class="total totalfourStar">
                                        <%= fourStar %> Users
                                    </span>
                                </div>
                                <div class="3Star">
                                    <% const arrayRating3 = []; %>
                                    <% const Ratings3 = product.rating; %>
                                    <% Ratings3.forEach(rate=>{ %>
                                    <% arrayRating3.push(rate.rate); %>
                                    <% }) %>
                                    <% let threeStar = 0; %>
                                    <% arrayRating3.forEach(rate=>{ %>
                                    <% if(rate == 3){ %>
                                    <% threeStar++; %>
                                    <% } %>
                                    <% }) %>
                                    <span class="stars">3 ★</span>
                                    <span class="StarRow threeStarRow"></span>
                                    <span class="total totalthreeStar">
                                        <%= threeStar %> Users
                                    </span>
                                </div>
                                <div class="2Star">
                                    <% const arrayRating4 = []; %>
                                    <% const Ratings4 = product.rating; %>
                                    <% Ratings4.forEach(rate=>{ %>
                                    <% arrayRating4.push(rate.rate); %>
                                    <% }) %>
                                    <% let twoStar = 0; %>
                                    <% arrayRating4.forEach(rate=>{ %>
                                    <% if(rate == 2){ %>
                                    <% twoStar++; %>
                                    <% } %>
                                    <% }) %>
                                    <span class="stars">2 ★</span>
                                    <span class="StarRow twoStarRow"></span>
                                    <span class="total totaltwoStar">
                                        <%= twoStar %> Users
                                    </span>
                                </div>
                                <div class="1Star">
                                    <% const arrayRating5 = []; %>
                                    <% const Ratings5 = product.rating; %>
                                    <% Ratings5.forEach(rate=>{ %>
                                    <% arrayRating5.push(rate.rate); %>
                                    <% }) %>
                                    <% let oneStar = 0; %>
                                    <% arrayRating5.forEach(rate=>{ %>
                                    <% if(rate == 1){ %>
                                    <% oneStar++; %>
                                    <% } %>
                                    <% }) %>
                                    <span class="stars">1 ★</span>
                                    <span class="StarRow oneStarRow"></span>
                                    <span class="total totaloneStar">
                                        <%= oneStar %> Users
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Reviews">
                        <% let productReviews = product.reviews.slice(0,3); %>
                        <% productReviews.forEach(RateReview=>{ %>
                        <div class="RateTitle">
                            <span class="Rate">
                                <%= RateReview.rate %> ★
                            </span>
                            <span class="Title">
                                <%= RateReview.title %>
                            </span>
                            <span class="Note">
                                <%= RateReview.note %>
                            </span>
                        </div>
                        <% }) %>
                        <a ng-href="/AllReviews/<%= product.menu %>/<%= product.title %>/<%= product._id %>">
                            <span class="ReadAllReviews">
                                Read all
                                <%= product.reviews.length %>
                                reviews
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="../../../../js/app.js"></script>
    <script src="../../../../js/routes.js"></script>
    <script src="../../../../js/controllers/homeController.js"></script>
    <script src="../../../../js/models/homeFactory.js"></script>
    <script src="../../../../js/controllers/productController.js"></script>
    <script src="../../../../js/models/productFactory.js"></script>
    <script src="../../../../js/controllers/viewProductController.js"></script>
    <script src="../../../../js/models/viewProductFactory.js"></script>
    <script src="../../../../js/controllers/viewProductController.js"></script>
    <script src="../../../../js/models/viewProductFactory.js"></script>


</body>

</html>